* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
body {
  font-family: "Roboto", sans-serif;
}

.page-container {
  max-width: 1440px;
  margin: auto;
}

/**top header bar**/
.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  background: #2478cc;
  border-radius: 0px;
}

.topbar-cta span:first-of-type {
  display: inline-block;
  width: 104.32px;
  height: 21px;
  background: #ffffff;
  border-radius: 12px;
  text-align: center;
  border: 1px solid white;
}
.topbar-cta > span:last-of-type {
  width: 466.05px;
  height: 23px;
  margin-left: 14.63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.topbar-cta a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #464e5b;
  vertical-align: middle;
}
.topbar-cta a:hover {
  text-decoration: underline;
}

/**nav **/
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.64px 0 22px;
}
/**top menu **/
.top-menu {
  display: flex;
  align-items: center;
}
.logo {
  width: 268.76px;
  height: 30.72px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 3.07162px;
  color: #000000;
}
.logo > span:first-of-type {
  border-bottom: 2px solid #f4af32;
}
.logo > span:last-of-type::before {
  content: " ";
  border-bottom: 2px solid #f4af32;
}

.logo::after {
  content: "+";
  width: 12.99px;
  height: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 3.07162px;
  color: #f4af32;
}
/**search bar**/
.search-bar {
  margin-left: 34.62px;
}
.search-bar > [type="search"] {
  width: 380px;
  height: 32px;
  padding: 9.12px 20px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4 url("./assets/search-icon.svg") no-repeat 9.12px center;
}
/*top-sub-menu*/
.top-sub-menu {
  margin-left: 30px;
}
.top-sub-menu ul {
  display: flex;
  list-style-type: none;
}
.top-sub-menu ul li:first-child {
  width: 89px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #2478cc;
  border-radius: 3px;
  text-align: center;
}
.top-sub-menu ul li:first-child > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  color: #2478cc;
  text-decoration: none;
}
.top-sub-menu ul li:first-child > a:hover {
  text-decoration: underline;
}
.top-sub-menu ul li:nth-child(2) {
  width: 80px;
  height: 24px;
  margin-left: 23px;
  background: #ffc700;
  border-radius: 3px;
  text-align: center;
}
.top-sub-menu ul li:nth-child(2) > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}
.top-sub-menu ul li:nth-child(2) > a:hover {
  text-decoration: underline;
}
.top-sub-menu ul li:nth-child(3) {
  margin-left: 25px;
}

.top-sub-menu ul li:last-child {
  margin-left: 27px;
}
.user-profile {
  display: flex;
  align-items: center;
  margin-left: 34.9px;
}
.user-profile > span {
  width: 105.09px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11.48px;
  line-height: 120%;
  color: #000000;
}

.user-profile > svg {
  margin-left: 2px;
}

.user-profile > img {
  margin-left: 6px;
  width: 32px;
  height: 32px;
}

/*menu-container*/
.menu-container {
  margin-top: 26px;
}

.menu {
  display: flex;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.menu * + * {
  margin-left: 38px;
}
.menu a {
  text-decoration: none;
  color: #000000;
}
.menu a:hover {
  text-decoration: underline;
}

.menu li:nth-child(2) svg {
  margin: 0 0 0 4px;
}
.menu li:nth-child(7) svg {
  margin: 0 0 0 4px;
}

/*main-container*/
.main-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
/*main*/
.main {
  width: 841px;
  border: 1px solid black;
}

/*aside*/
.aside {
  margin-right: 35px;
  width: 324px;
  border: 1px solid blue;
}
/*seven-day*/
.seven-day {
  width: 100%;
  height: 432px;
  padding: 30px 27px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 7px 7px 3px 3px;
  margin: 30px 0px;
}
div.seven-day-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seven-day h2 {
  width: 144px;
  height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #014eff;
}
.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}
.progress progress {
  width: 268.89px;
}
